body {
  font-family: 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
}
.hide {
  display: none;
}

.decal {
  height: 2px;
  backgro/und-color: #000;
  border-bottom: 1px solid #333;
}
/* EFFECTS
***************/

.glow {
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    -webkit-transition: text-shadow 1s linear;
       -moz-transition: text-shadow 1s linear;
         -o-transition: text-shadow 1s linear;
            transition: text-shadow 1s linear;
}

.glow.in {
  text-shadow: 
    0.025em 0.025em 0.025em rgba(0, 0, 0, 0.8),
    0 0 0.5em rgba(255, 255, 255, 0.3);
}

.fade {
  opacity: 0;
    -webkit-transition: opacity 1s linear;
       -moz-transition: opacity 1s linear;
         -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
}

.fade.in {
  opacity: 1;
}

.playground {
  backgro.und: #242424;
  border-radius: 4px;
  bor.der: 1px solid #333;
  margin-left:100px;
  margin-bottom: 10px;
  	text-transform:capitalize;
}

.playground .viewport {
  display: table;
  min-height: 10em;
  pad.ding: 20px;
  border-radius: 4px 4px 0 0;
  bor.der: 1px solid #0c0c0c;
  over.flow: hidden;
  /*-webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);*/
}

.playground .viewport .tlt {
  color: orange;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 1px;
  paddi.ng: 20px 0;
  display: inline-block;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
  /*visibility: hidden;*/
}

.deps {
  font-size: 1.2em;
}

.deps ul {
  list-style-type: square;
  margin: 0;
}

.deps ul li {
  line-height: 1.5em
  font-weight: 200;
}
